default.target.wants
graphical-session.target.wants
systemd/user/*.service
systemd/user/*.target
waybar/config
swaync/config.json
swaync/style.css
swaync/palette.css
vim/.netrwhist
applications/mimeinfo.cache
applications/warp-cli.desktop
# Symlink into the Nix store, rewritten by every home-manager activation.
applications/mimeapps.list

# Nix build artifacts (nix build / nixos-rebuild build symlinks)
result
result-*
