[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ChatGPT
Exec=brave --app=https://chatgpt.com/ --class=chatgpt
Icon=chatgpt
StartupWMClass=brave-chatgpt.com__-Default

