/* Solarized Dark palette */
@define-color base03 #002b36;
@define-color base02 #073642;
@define-color base01 #586e75;
@define-color base0  #839496;
@define-color base1  #93a1a1;

@define-color yellow #b58900;
@define-color red    #dc322f;
@define-color blue   #268bd2;
@define-color cyan   #2aa198;

@import "style-common.css";

