/* Solarized Light palette */
@define-color base03 #fdf6e3;
@define-color base02 #eee8d5;
@define-color base01 #93a1a1;
@define-color base0  #657b83;
@define-color base1  #586e75;

@define-color yellow #b58900;
@define-color red    #dc322f;
@define-color blue   #268bd2;
@define-color cyan   #2aa198;

@import "style-common.css";

