/* Solarized Dark, compact, icon-first */
@define-color base03 #002b36;
@define-color base02 #073642;
@define-color base01 #586e75;
@define-color base0  #839496;
@define-color base1  #93a1a1;

@define-color yellow #b58900;
@define-color red    #dc322f;
@define-color blue   #268bd2;
@define-color cyan   #2aa198;

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: @base03;
  color: @base0;
}

#workspaces button {
  padding: 0 6px;
  margin: 4px 2px;
  border-radius: 10px;
  background: transparent;
  color: @base01;
}

#workspaces button.active {
  background: @base02;
  color: @base1;
}

#workspaces button.urgent {
  background: @red;
  color: @base03;
}

#clock,
#idle_inhibitor,
#custom-mic,
#pulseaudio,
#network,
#battery,
#tray {
  padding: 2px 10px;
  margin: 4px 0px;
  border-radius: 12px;
  background: @base02;
  color: @base0;
}

#idle_inhibitor.activated {
  color: @yellow;
}

#custom-mic.muted {
  color: @red;
}

tooltip {
  background: @base02;
  color: @base1;
  border-radius: 10px;
  padding: 8px;
}